<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ATM.Properties.Settings.ATMConnectionString" connectionString="Data Source=CLIENT-07\SQLEXPRESS;Initial Catalog=ATM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>